/* The sidebar menu */
.my-sidebar {
  > [class^="col"] {
    background-color: $primary-gray;
  }

  .btn-col {
    border-left: $sidebar-border-width solid $primary-gray;

    > .btn {
      background-color: $theme-color;
      border-color: $theme-color;
      border-bottom-width: 10px;
      width: 30px;
      height: 30px;
      padding: 0px;
      font-size: 16px;
      margin-top: 20px;
  
      margin-left: -15px - $sidebar-border-width/2;
    }
  }


  .navbar-nav {
    /* Override the default "display: flex;" so that the contents
    will not be separated evenly */
    height: 100vh; /* 100% Full-height */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.2s; /* 0.2 second transition effect to slide in the sidebar */

    a {
      // color: #909090;

      &.dropdown-item {
        padding-left: 1rem;
        height: 30px;
      }

      // &:hover {
      //   color: #bebebe;
      // }
      // &:active {
      //   color: #ffffff;
      // }
    }

    .form {
      padding-top: 10px;
    }

    .btn {
      margin-bottom: 10px;
    }
  }
}
