.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.navbar {
    background-color: #26004d;
}
.navbar-brand {
    background-color: #ffffff;
    width: 200px;
    padding: 5px;
}

.vs-10px {
    height: 10px;
}

// @media (max-width: 900px) {
//     .mobile-option {
//         display: none;
//     }
// }